<div id="alertas_info">
    <div class="row">
        <div class="col-lg-3 col-md-12">
            {{ 'expediente' |trans }}
        </div>
        <div class="col-lg-9 col-md-12">
            {{ alerta.expediente }}
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3 col-md-12">
            {{ 'cotizacion' |trans }}
        </div>
        <div class="col-lg-9 col-md-12">
            {{ alerta.cotizacion }}
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3 col-md-12">
            {{ 'personaNif' |trans }}
        </div>
        <div class="col-lg-9 col-md-12">
            {{ alerta.personanif }}
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3 col-md-12">
            {{ 'oficina' |trans }}
        </div>
        <div class="col-lg-9 col-md-12">
            {{ alerta.oficina }}
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3 col-md-12">
            {{ 'horizontal' |trans }}
        </div>
        <div class="col-lg-9 col-md-12">
            {{ alerta.horizontal }}
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3 col-md-12">
            {{ 'vertical' |trans }}
        </div>
        <div class="col-lg-9 col-md-12">
            {{ alerta.vertical }}
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3 col-md-12">
            {{ 'nivel_alert' |trans }}
        </div>
        <div class="col-lg-9 col-md-12">
            {{ alerta.nivel }}
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12">
            {{ 'missatge' |trans }}
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12">
            {{ alerta.missatge }}
        </div>
    </div>
</div>
