<!-- Modal enviar mensaje (Muro) -->
<div class="modal fade" id="muro_validate_cotizacion" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form id="form_validate_cotizacion" enctype="multipart/form-data">
                <input type="hidden" name="expediente" id="expedienteEsp" value="{{ expediente }}">
                <input type="hidden" name="respuestaPetiCoti" value="">
                <input type="hidden" name="responsableTarea" value="">
                <input type="hidden" name="tipoMensaje" id="tipoMensaje" value="">
                <input type="hidden" name="idTareaEsp" id="idTareaEsp" value="">
                <input id="es_coti" type="hidden" name="petiCoti" value="">
                <input type="hidden" name="numPetiCoti">
                <input type="hidden" name="status" id="status">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">{{ 'petitions'|trans }}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <input id="input_num_de_coti" type="number" class="form-control"/>
                    <input id="id_tarea_p_c" type="hidden"/>
                    <div class="input-group date dateTimePickerContainer" data-target-input="nearest">
                        <input id="fecha_tarea_p_c" type="text" name="fecha_tarea_peti_coti" class="float-left form-control dateTimePickerContainer datetimepicker-input" placeholder="{{ "muro.date-task-peti-coti"|trans }}" data-target="#dtpdispo_1" data-toggle="datetimepicker" />
                        <div class="input-group-append" data-target="#fecha_tarea_p_c" data-toggle="datetimepicker">
                            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                        </div>
                    </div>
                    <div id="error-message" class="invalid-feedback hidden">{{ "muro.num-coti-not-exist"|trans }}</div>
                    <div id="quotes-search" class="info-box-text">{{ 'muro.search_sap_quote'|trans }}</div>
                </div>
                <div class="modal-footer text-center">
                    <button id="confirm_coti" class="btn btn-blue bt-submit"><i class="fas fa-paper-plane fa-fw"></i> {{'send'|trans}}</button>
                </div>
            </form>
        </div>
    </div>
</div>
