<div class="navbar-default sidebar" role="navigation">
    {% if app.user %}

    {% else %}
        <div style="width: 100%;height: 100%;z-index: 9999;opacity: 0.5;position: absolute;background-color: white;"></div>
    {% endif %}
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav" id="side-menu">
            <li class="sidebar-search">
                <form action="{{ path('reporte_individual') }}" method="post">
                    <div class="input-group custom-search-form">
                        <input id="nif" name="nif" type="text" class="form-control" placeholder="Introduzca un NIF...">
                        <span class="input-group-btn">
                        <button class="btn btn-default" type="submit">
                            <i class="fa fa-search"></i>
                        </button>
                    </span>
                    </div>
                </form>
                <!-- /input-group -->
            </li>
            <li>
                <a href="{{ path('homepage') }}"><i class="fa fa-home fa-fw"></i> Pantalla Principal</a>
            </li>
            <li>
                <a href="#"><i class="fa fa-table fa-fw"></i> Informes<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="{{ path('reporte_individual') }}">Nuevo informe</a>
                    </li>
                    <li>
                        <a href="{{ path('ultimos_reportes') }}">Últimos informes</a>
                    </li>
                    <li>
                        <a href="#">Buscar informe<span class="fa arrow"></span></a>
                        <ul class="nav nav-third-level">
                            <form id="form-send-nif" action="{{ path('buscar_informes') }}" method="post">
                                <li class="sidebar-search">
                                    <div class="input-group custom-search-form">
                                        <input id="nif" name="nif" type="text" class="form-control" placeholder="Introduzca un NIF...">
                                        <span class="input-group-btn">
                                                <button class="btn btn-default" type="submit">
                                                    <i class="fa fa-search"></i>
                                                </button>
                                        </span>
                                    </div>
                                </li>
                            </form>
                        </ul>
                    </li>
                </ul>
                <!-- /.nav-second-level -->
            </li>
            <li>
                <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> Comités<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="#">Comité Diario</a>
                    </li>
                    <li>
                        <a href="#">Comité Semanal</a>
                    </li>
                    <li>
                        <a href="#">Comité Mensual</a>
                    </li>
                    <li>
                        <a href="#">Resoluciones comité (histórico)</a>
                    </li>
                </ul>
                <!-- /.nav-second-level -->
            </li>
            <li>
                <a href="#"><i class="fa fa-desktop fa-fw"></i> Operaciones<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="#">Nueva operación</a>
                    </li>
                    <li>
                        <a href="#">En curso</a>
                    </li>
                    <li>
                        <a href="#">Aprobadas</a>
                    </li>
                    <li>
                        <a href="#">Denegadas</a>
                    </li>
                    <li>
                        <a href="#">Trasladar</a>
                    </li>
                    <li>
                        <a href="#">Últimos cambios</a>
                    </li>
                </ul>
                <!-- /.nav-second-level -->
            </li>

            <li>
                <a href="#"><i class="fa fa-edit fa-fw"></i> Comentarios</a>
            </li>
            <li>
                <a href="#"><i class="fa fa-search-plus fa-fw"></i> Buscar en la red<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li class="sidebar-search">
                        <div class="input-group custom-search-form">
                            <input type="text" class="form-control" placeholder="Introduzca un NIF...">
                            <span class="input-group-btn">
                                        <button class="btn btn-default" type="button">
                                            <i class="fa fa-search"></i>
                                        </button>
                                        </span>
                        </div>
                        <!-- /input-group -->
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <!-- /.sidebar-collapse -->
</div>